body {
	font-size: 20px;
	background-color: #C0EAFF;
}

a{
	margin-left: 5px;
}

a:hover,
a:focus{
	color: #004050;
	opacity: 0.9;
}

.main, .main2{
	margin-left: 200px;
	margin-top: 50px;
	width: 600px;
	height: 600px;
	float: left;
	color: black;
}

.navbar-default {
	background: #00CC00 !important;
}

.lewo{
	float: left;
}

#Admin{
	background-color: orange;
}

#Admin_promote{
	visibility: hidden;
}

#User_promote{
	background-color: darkgreen;
}

#inputSearch{
	margin-bottom: 5px;
	margin-left: 5px;
}

#createButton{
	margin-right: 46px;
}