body {
	font-size: 18px;
}

a {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 700;
}
a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus{
	color: #004050;
	opacity: 0.9;
}

.main{
	margin-left: 200px;
	margin-top: 50px;
	width: 600px;
	height: 600px;
	float: left;
	color: black;
}

.navbar-default {
	background: #00CC00 !important;
}

.lewo{
	float: left;
}
